.choices {
    display: flex;
    /* flex-wrap: wrap; */
}

.options {
    flex-basis: 24%;
    margin: 2rem;
    border: 1px solid black;
    padding: 1rem;
    /* border-radius: 0.5rem; */
    box-shadow: 0.25rem 0.25rem 0.5rem grey;
}