@import "details.css";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Abel", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
    background-color: rgb(226, 220, 220);
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Do Hyeon", serif;
  letter-spacing: 2px;
}

ul {
    list-style-type: none;
    padding-inline-start: 0.25rem;
}

#orderButton {
    margin: 1rem 2rem 2rem;
    padding: 0.5rem;
    background-color: lightgreen;
    color: black;
    font-size: 1rem;
}